
.hero-slider {
    padding: unset;
    .carousel-item {
        padding: 0 !important;
    }
    
    .carousel-control-prev {
        left: 1rem;
    }

    .carousel-control-next {
        right: 1rem;
    }
}

